services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: my_database
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot_password"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ./static:/app/static
    environment:
      DATABASE_URL: "mysql+pymysql://root:root_password@db/my_database"
    depends_on:
      db:
        condition: service_healthy